# Miscellaneous
.DS_Store
*.log
*.pyc
*.swp

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Xcode / iOS build artifacts
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/.last_build_id

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code workspace settings (optional)
.vscode/
